{# File Version 1.0 [21.09.2019] #}

{% extends 'app.twig' %}

{% block content %}
    <p class="text-center">
        Diese Webseite wird betrieben von
    </p>
    <address>
        <strong>{{ company_name }}</strong>
        <br>
        Kirchbergerstrasse 35
        <br>
        9534 G&auml;hwil SG
        <br>
        Schweiz
    </address>
    <address>
        <strong>Kontakt</strong>:
        <br>
        E-Mail (Support & Allgemeines): <a href='mailto:info@{{ company_email }}'>info@{{ company_email }}</a>
        <br>
        Telefon: +41 (0) 77 438 19 89 <span style='color: #ff0000;'><strong><span class='badge badge-danger'>Kein Support</span></strong></span>
    </address>
    <address>
        <strong>Vertretungsberechtigte:</strong>
        <br>
        Ursin Filli
    </address>
    ---
    <p>
        <strong>Weitere Informationen</strong>
    </p>
    <p>
        <strong>Haftungsausschluss</strong><br>
        Der Autor &uuml;bernimmt keinerlei Gew&auml;hr hinsichtlich der inhaltlichen Richtigkeit Genauigkeit Aktualit&auml;t
        Zuverl&auml;ssigkeit und Vollst&auml;ndigkeit der Informationen.<br>
        Haftungsanspr&uuml;che gegen den Autor wegen Sch&auml;den materieller oder immaterieller Art welche aus dem
        Zugriff
        oder der Nutzung bzw. Nichtnutzung der ver&ouml;ffentlichten Informationen durch Missbrauch der Verbindung oder
        durch technische St&ouml;rungen entstanden sind werden ausgeschlossen.<br>
        Alle Angebote sind unverbindlich.<br>
        Der Autor beh&auml;lt es sich ausdr&uuml;cklich vor Teile der Seiten oder das gesamte Angebot ohne gesonderte
        Ank&uuml;ndigung
        zu ver&auml;ndern zu erg&auml;nzen zu l&ouml;schen oder die Ver&ouml;ffentlichung zeitweise oder endg&uuml;ltig
        einzustellen.<br>
    </p><p>
    <strong>Haftung f&uuml;r Links</strong><br>
    Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter auf deren Inhalte wir keinen Einfluss haben.<br>
    Deshalb k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen.<br>
    F&uuml;r die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
    verantwortlich.<br>
    Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft.<br>
    Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.<br>
    Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
    Rechtsverletzung nicht zumutbar.<br>
    Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br>
</p><p>
    <strong>Urheberrecht</strong><br>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem schweizer Urheberrecht.<br>
    Die Vervielf&auml;ltigung Bearbeitung Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des
    Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.<br>
    Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten nicht kommerziellen Gebrauch gestattet.<br>
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden werden die Urheberrechte Dritter
    beachtet.<br>
    Insbesondere werden Inhalte Dritter als solche gekennzeichnet.<br>
    Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden bitten wir um einen entsprechenden
    Hinweis.<br>
    Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
</p><p>
    <strong>Datenschutz</strong><br>
    Gest&uuml;tzt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des
    Bundes (Datenschutzgesetz DSG) hat jede Person Anspruch auf Schutz ihrer Privatsph&auml;re sowie auf Schutz vor
    Missbrauch ihrer pers&ouml;nlichen Daten.<br>
    Wir halten diese Bestimmungen ein.<br>
    Pers&ouml;nliche Daten werden streng vertraulich behandelt und weder an Dritte verkauft noch weiter gegeben.<br>
    In enger Zusammenarbeit mit unseren Hosting-Providern bem&uuml;hen wir uns die Datenbanken so gut wie m&ouml;glich
    vor fremden Zugriffen Verlusten Missbrauch oder vor F&auml;lschung zu sch&uuml;tzen.<br>
    Beim Zugriff auf unsere Webseiten werden folgende Daten in Logfiles gespeichert: IP-Adresse Datum Uhrzeit
    Browser-Anfrage und allg. &uuml;bertragene Informationen zum Betriebssystem resp. Browser.<br>
    Diese Nutzungsdaten bilden die Basis f&uuml;r statistische anonyme Auswertungen so dass Trends erkennbar sind anhand
    derer wir unsere Angebote entsprechend verbessern k&ouml;nnen.
</p><p>
    <strong>Cookies</strong><br>
    Die Internetseiten verwenden teilweise so genannte Cookies.<br>
    Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.<br>
    Cookies dienen dazu unser Angebot nutzerfreundlicher effektiver und sicherer zu machen.<br>
    Cookies sind kleine Textdateien die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.<br>
    Die meisten der von uns verwendeten Cookies sind so genannte &quot;Session-Cookies&quot;.<br>
    Sie werden nach Ende Ihres Besuchs automatisch gel&ouml;scht.<br>
    Andere Cookies bleiben auf Ihrem Endger&auml;t gespeichert bis Sie diese l&ouml;schen.<br>
    Diese Cookies erm&ouml;glichen es uns Ihren Browser beim n&auml;chsten Besuch wiederzuerkennen.<br>
    Sie k&ouml;nnen Ihren Browser so einstellen dass Sie &uuml;ber das Setzen von Cookies informiert werden und Cookies
    nur im Einzelfall erlauben die Annahme von Cookies f&uuml;r bestimmte F&auml;lle oder generell ausschlie&szlig;en
    sowie das automatische L&ouml;schen der Cookies beim Schlie&szlig;en des Browser aktivieren.<br>
    Bei der Deaktivierung von Cookies kann die Funktionalit&auml;t dieser Website eingeschr&auml;nkt sein.
</p><p>
    <strong>Widerspruch Werbe-Mails</strong><br>
    Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten zur &uuml;bersendung von nicht
    ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen.<br>
    Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von
    Werbeinformationen etwa durch Spam-E-Mails vor.
</p>
{% endblock %}
