{# File Version 1.0 [21.09.2019] #}

<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href='{{ path_for('legal.imprint') }}' target='_blank'>
                        Impressum
                    </a>
                </li>
                <li>
                    <a href='{{ path_for('legal.privacy') }}' target='_blank'>
                        Datenschutz
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            Copyright &copy; {{ 'now'|date('Y') }} {{ footer_company }} und/oder mit ihr verbundene Unternehmen.
        </div>
    </div>
</footer>