{# File Version 1.0 [21.09.2019] #}

{% extends 'app.twig' %}

{% block content_error %}
    <div class="content-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Coming Soon</h1>
                <h3>Our website is under construction</h3>
            </div>
        </div>
    </div>
{% endblock %}